/* You can add global styles to this file, and also import other style files */
.dp-flex
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.width-100
{
  width:100%;
}
.register-link-parent
{
  text-align: center;
}
.register-link
{
  color: cornflowerblue;
}
#bodyId.home-style
{
  background-image: url("/assets/HomePageBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
}
#bodyId.other-style
{
  background-image: url("/assets/Login Background.jpg");
}
