<div class="col-6 float-right dp-flex">
  <form>
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" name="emailid" placeholder="User name" [(ngModel)]="emailid">
    </div>

    <div class="form-group">
      <input type="password" class="form-control form-control-lg"  name="password" placeholder="Password" [(ngModel)]="password">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success width-100" (click)="userLogin()">Login</button>
    </div>
    <div class="register-link-parent">
      <a routerLink="/register" class="register-link">New user? Register!!</a>
    </div>
  </form>
</div>


